<sly data-sly-template.one="${@ title,description}">
    <h1> ${title} </h1>
    <h1> ${description} </h1>
</sly>

<sly data-sly-template.two="${@ firstname,lastname,profilepic}">
    <h1> ${firstname} </h1>
    <h1> ${lastname} </h1>
    <h1> ${profilepic} </h1>
</sly>