<div class="${properties.customattribute}" style="background-image: url('${properties.image @context='styleString'}')">

	${properties.jcr:title}

    <a href="${propeties.link @context='uri'}">Submit</a>

</div>








