<sly data-sly-use.cfdata="${properties.fragmentPath}/jcr:content/data/${properties.variationName}"/>

<div data-sly-test="${cfdata}" class="about-author d-flex p-4 bg-light">
  <div class="bio mr-5">
	<img style="height:300px;width:300px" src="${cfdata.profilepic}" alt="Image placeholder" class="img-fluid mb-4">
  </div>
  <div class="desc">
	<h3>${cfdata.firstname} ${cfdata.lastname}</h3>
	<p data-sly-test="${('description' in properties.elementNames)}">${cfdata.description @context='html'}</p>
  </div>
</div>