<sly data-sly-use.articleInfo ="${'com.gofortrainings.portal.core.models.ArticleInfoModel' @trainingType='classroom'}"/>

<div class="case">
	<div class="row">
		<div class="col-md-6 col-lg-6 col-xl-8 d-flex">
			<a href="${articleInfo.articlepath}.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(${articleInfo.articleimage @context='styleString'});"></a>
		</div>
		<div class="col-md-6 col-lg-6 col-xl-4 d-flex">
			<div class="text w-100 pl-md-3">
				<span class="subheading">${articleInfo.subheading}</span>
				<h2><a href="${articleInfo.articlepath}.html">${properties.title}</a></h2>
				<ul class="media-social list-unstyled">
		<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
	  </ul>
				<div class="meta">
					<p class="mb-0"><a href="#">${'yyyy-MM-dd' @format=articleInfo.pubdate} | <a href="#">${articleInfo.readmins} min read</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<h1>Page Title - ${articleInfo.pageTitle}</h1>
