<sly data-sly-use.nav ="com.gofortrainings.portal.core.models.Navigation" />

<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="#">Read<i>it</i>.</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
			  <sly data-sly-list.nav="${nav.navList}">
					<li class="nav-item active"><a href="${nav.navpath}.html" alt ="${nav.alttext}" class="nav-link">${nav.navlabel}</a></li>
			  </sly>
	        </ul>
	      </div>
	    </div>
	  </nav>