<section class="ftco-section bg-light">
  <div class="container">
	<div class="row d-flex" id="article-grid">
	  
	</div>	
  </div>
</section>

<h4 data-sly-test="${wcmmode.edit}">Please configure article details</h3>